header{
  height:8vh;
  background-color: rgb(247, 238, 187);
  padding: 1em;
  color:#000;
}
h1{
  margin:auto;
}
#primera-vista{
  height:100vh;
  background-image:url("./imagenes/restaurante3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255,255,255);
}
#contenido-vista{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  flex-wrap: wrap;
  height:92vh;
}
#bienvenida
{
  font-size: 1.5vw;
  padding:3vw;
  margin: 3vw;
  background-color: rgba(255,255,255,0.7);
  color:rgb(0,0,0);
}
#oferta
{
  font-size: medium;
  padding:3vw;
  margin:3vw;
  background-color: rgba(255,255,255,0.7);
  color:rgb(0,0,0);
}
#segunda-vista{
    background-color: rgb(230,230,230);
    display:flex;
    
}
#raiz{
  display:flex;
  flex-direction: column;
}
#pie-de-pagina{
  margin: 2em auto;
  padding:10vw;
  background-color: rgb(200,200,200); 
}
#enviar-producto
{
  margin:auto;
  width:80vw;
}