#item{
    list-style: none;
    margin:2vh;
    padding:2vh;
}

#lista-menu{
    margin:0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    overflow-x: scroll;
    padding:0 10em;
    scroll-behavior: smooth;
    
}
#menu h1{
    padding: 0.5em;
}
#menu{
    width:100%;
}

#icono-boton-derecho{
    right:1em;
}
#icono-boton-izquierdo{
    left:1em;
}
.icono-boton img{
    width:150px;
}
.icono-boton{
    position:absolute;
}
.hidden{
    visibility: hidden;
}