#pedidoUnidad{
    list-style: none;
}
#pedido
{
    position: fixed;
    left:100vw;
    top:15vh;
    color:rgb(10,10,10);
    font-size: small;
    color:azure;
}
#icon{
    position: absolute;
    border-radius: 1em 0 0 1em;
    padding:2em;
    background-color: rgb(200,10,10);
    height:fit-content;
    transform: translateX(-100%);

}
#cart-content{
    background-color: rgb(200,10,10);
    padding:1em;
    border-radius: 0em 1em 1em 1em;
    width:max-content;
}