#pedidoUnidad{
    list-style: none;
}
#pedido
{
    position: fixed;
    top:15vh;
    color:rgb(10,10,10);
    font-size: small;
    color:azure;
    transform: translateX(0);
    left: 100vw;
}
#icon{
    position: absolute;
    border-radius: 1em 0 0 1em;
    padding:0 2em 0 0;
    background-color: rgb(200,10,10);
    height:fit-content;
    transform: translateX(-100%);
    left:1px;

}
#cart-content{
    background-color: rgb(200,10,10);
    padding:1em;
    border-radius: 0em 1em 1em 1em;
    width:max-content;
}